/*
  pagination for table
*/
.grid-bar {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 6px 0 6px;
  font-size: 16px;
  position: relative;
  color: rgb(92, 92, 92);
}

/* hidden content format data */
.grid-property .hide-item {
  display: none;
}

/* create scroll in table */
#gridProperty {
  overflow-y: auto;
}
/*
  custom paging for table
*/

/* 
  set pading box
*/
.grid-bar .paging {
  display: flex;
  align-items: center;
}

.grid-bar .paging .paging-box {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 5px 16px 5px 16px;
}

.grid-bar .padding-table {
  padding-right: 52px;
}

.grid-bar .display-limit {
  padding-right: 52px;
}

/*
  set positiom for paging
*/
.grid-bar .total-info {
  position: absolute;
  right: 24px;
  display: flex;
}

.grid-bar .total-info .cummulative-total {
  padding-right: 34px;
}

.grid-bar .total-info .qty-total {
  padding-right: 21px;
}

.grid-bar .total-info .price-total {
  padding-right: 50px;
}

/* custom tag a paging */
.grid-bar .paging .paging-box .custom-paging {
  color: rgb(92, 92, 92);
  text-decoration: none;
}

.grid-bar .paging .paging-box:hover,
.grid-bar .paging .paging-box .custom-paging:hover {
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.651);
}

/* position for box option */
.limit-number .custom-option {
  position: relative;
  align-items: center;
}

/* position for box select */
.limit-number .custom-option .custom-select {
  font-size: 16px;
  padding: 5px 25px 5px 15px;
  border: 1px solid rgb(185, 173, 173);
  border-radius: 5px;
}

/* custom arrow for select year */
.limit-number .custom-option .customer-arrow {
  position: absolute;
  display: block;
  width: 20px;
  top: 5px;
  right: 3px;
  height: 20px;
  background-color: white;
  pointer-events: none;
}

/* custom buton arrow in select year */
.limit-number .custom-option .customer-arrow::before {
  --size: 5px;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-92%, -10%);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
}

/*
  custom fixed header header in table
*/
table > thead > tr > th {
  background: rgba(236, 236, 236, 0.651) !important;
  position: sticky !important;
  top: 0 !important; /* Don't forget this, required for the stickiness */
}

table {
  width: 100%;
  font-size: 16px;
  position: relative !important;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

table > tbody > tr > td,
table > tbody > tr > th {
  border-bottom: 1px solid #ddd;
  line-height: 36px !important;
}
