/*
  main css header
*/
.header {
  float: left;
  width: calc(100% - 221px);
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-self: center;
}

/*
  displate department
*/
.header .h-department {
  display: flex;
  padding: 16px;
  align-items: center;
}

/* displate department name */
.header .h-department .h-department-name {
  padding-right: 32px;
  font-size: 20px;
}

/* custom select year */
.header .h-department .h-department-year .year-text .customer-option select {
  font-size: 16px;
  padding: 5px 25px 5px 15px;
  border: 1px solid rgb(185, 173, 173);
  border-radius: 5px;
}

.header .h-department .h-department-year .year-text .customer-option {
  position: relative;
  align-items: center;
}

/* custom arrow for select year */
.customer-option .customer-arrow {
  position: absolute;
  display: block;
  width: 20px;
  top: 3px;
  right: 3px;
  height: 20px;
  background-color: white;
  pointer-events: none;
}

.customer-option .customer-arrow::before {
  --size: 7px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  top: 50%;
  transform: translate(-92%, -10%);
}

.customer-option .customer-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
}

/* css admin info */

.header .h-admin {
  display: flex;
  align-self: center;
  position: absolute;
  right: 0;
}

.header .h-admin .h-box-admin {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  align-items: center;
}

.header .h-admin .h-box-admin .h-admin-bell {
  width: 25px;
  height: 25px;
  background-image: url("../../content/img/bell.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 24px;
}

.header .h-admin .h-box-admin .h-admin-menu {
  width: 25px;
  height: 25px;
  background-image: url("../../content/img/menu (1).png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header .h-admin .h-box-admin .h-admin-question {
  width: 25px;
  height: 25px;
  background-image: url("../../content/img/information.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 24px 0 24px;
}

.h-admin .h-box-admin .h-admin-option {
  display: flex;
  align-items: center;
}

.h-admin .h-box-admin .h-admin-option .avatar {
  width: 25px;
  height: 25px;
  background-image: url("../../content/img/avatar-default.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.h-admin .h-box-admin .h-admin-option .arrow-option {
  width: 10px;
  height: 10px;
  background-image: url("../../content/icon/down-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

/* action hover foe each option admin */
.h-admin .h-box-admin .h-admin-bell:hover,
.h-admin .h-box-admin .h-admin-menu:hover,
.h-admin .h-box-admin .h-admin-question:hover,
.h-admin .h-box-admin .h-admin-option:hover {
  cursor: pointer;
}
