<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MISA QLTS</title>

    <!-- add library bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- add library css common -->
    <link rel="stylesheet" href="/css/common/main.css">
    <!-- add css for nav bar -->
    <link rel="stylesheet" href="/css/common/navbar.css">
    <!-- add css for header -->
    <link rel="stylesheet" href="/css/common/header.css">
    <!-- add css for content -->
    <link rel="stylesheet" href="/css/common/content.css">
    <!-- add css for grid -->
    <link rel="stylesheet" href="/css/common/grid.css">
    <!-- add css for custom page -->
    <link rel="stylesheet" href="/css/page/property.css">
</head>

<body>
    <!-- nav bar -->
    <div class="m-navbar" >
        <!-- header nav bar -->
        <div class="nav-main">
            <div class="nav-main-style">
                <div class="main-icon"></div>
                <div class="main-title">MISA QLTS</div>
                <div class="main-more-icon" id="main-menu"></div>
            </div>
        </div>
        <!-- nav bar menu option -->
        <div class="nav-menu" >
            <!-- submenu options section -->
            <div class="nav-item">
                <div class="nav-item-icon item-icon-1"></div>
                <div class="nav-item-text">Tổng quan</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon item-icon-2"></div>
                <div class="nav-item-text">Tài sản</div>
                <div class="nav-item-text icon-option"></div>
            </div>
            <div class="nav-sub-item" id="sub-TS">
                <!-- submenu of submenu -->
                <div class="nav-item">
                    <!-- main menu of submenu -->
                    <div class="nav-item-icon item-icon-3"></div>
                    <div class="nav-item-text">Tài sản HT-ĐB</div>
                    <div class="nav-item-text icon-option"></div>
                </div>
                <div class="sub-menu">
                    <!-- sub-options of submenu -->
                    <div class="sub-option">Ghi tăng</div>
                    <div class="sub-option">Thay đổi thông tin</div>
                    <div class="sub-option">Đánh giá lại</div>
                    <div class="sub-option">Tính hao mòn</div>
                    <div class="sub-option">Kiểm kê</div>
                    <div class="sub-option">Ghi giảm</div>
                </div>
            </div>
            <!-- submenu of submenu is displayed in minimalist mode -->
            <div class="header-menu">
                <div class="sub-title">Tài sản hạ tầng đường bộ</div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Ghi tăng</div>
                </div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Thay đổi thông tin</div>
                </div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Đánh giá lại</div>
                </div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Tính hao mòn</div>
                </div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Kiểm kê</div>
                </div>
                <div class="sub-box">
                    <div class="icon-sub"></div>
                    <div class="sub-option">Ghi giảm</div>
                </div>
            </div>
            <!-- remaining submenus -->
            <div class="nav-item">
                <div class="nav-item-icon item-icon-4"></div>
                <div class="nav-item-text">Công cụ dụng cụ</div>
                <div class="nav-item-text icon-option"></div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon item-icon-5"></div>
                <div class="nav-item-text">Danh mục</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon item-icon-6"></div>
                <div class="nav-item-text">Tra cứu</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon item-icon-7"></div>
                <div class="nav-item-text">Báo cáo</div>
            </div>
        </div>
        <!-- sub button action menu -->
        <div class="sub-main-menu">
            <div class="sub-menu-icon"></div>
            <div class="sub-menu-text">Menu lớn</div>
        </div>
    </div>
    <!-- header page -->
    <div class="header">
        <div class="h-department">
            <!-- header page name -->
            <div class="h-department-name">Sở tài chính</div>
            <!-- header page select year -->
            <div class="h-department-year">
                <div class="year-text">
                    <div class="customer-option">
                        <select name="" class="customer-select">
                            <option value="">2022</option>
                            <option value="">2021</option>
                            <option value="">2020</option>
                            <option value="">2019</option>
                        </select>
                        <span class="customer-arrow"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- header page admin option -->
        <div class="h-admin">
            <div class="h-box-admin">
                <div class="h-admin-bell" data-toggle="tooltip" data-placement="bottom" title="Notifications"></div>
                <div class="h-admin-menu" data-toggle="tooltip" data-placement="bottom" title="More Option"></div>
                <div class="h-admin-question" data-toggle="tooltip" data-placement="bottom" title="Refre"></div>
                <div class="h-admin-option" data-toggle="tooltip" data-placement="bottom" title="Setting User">
                    <div class="avatar"></div>
                    <div class="arrow-option"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <div class="conten-header">
            <!-- content name table-->
            <div class="c-header-box">
                <div class="header-name">Danh sách tài sản</div>
                <div class="header-refesh" CommandType="Refresh" data-toggle="tooltip" data-placement="top" title="Refresh data"></div>
            </div>
            <!-- content option action-->
            <div class="c-header-option" id="toolBarEmployee">
                <button class="btn-add btn-ref" data-toggle="tooltip" data-placement="top" title="Refresh Property">
                    <div class="btn-name name-ref" CommandType="Refresh">Làm mới</div>
                </button>
                <button class="btn-add btn-del" data-toggle="tooltip" data-placement="top" title="Delete Property">
                    <div class="btn-name name-del" CommandType="Delete">Xóa</div>
                </button>
                <button  class="btn-add btn-edit" data-toggle="tooltip" data-placement="top" title="Edit Property">
                    <div class="btn-name name-edit" CommandType="Edit">Sửa</div>
                </button>
                <button class="btn-add" >
                    <div CommandType="Add" class="btn-name" data-toggle="tooltip" data-placement="top" title="Add Property" >
                        <span>Thêm</span>
                    </div>
                    <div class="btn-arrow" data-toggle="tooltip" data-placement="top" title="More Option"></div>
                </button>
                <button class="btn-more" data-toggle="tooltip" data-placement="top" title="Layout Setting">
                    <div class="hbg-menu"></div>
                    <div class="btn-show-option"></div>
                </button>
            </div>
        </div>
        <!-- content toolbar-->
        <div class="content-info">
            <div class="content-box">
                <div class="info-toolbar">
                    <div class="toolbar-search">
                        <!-- custom toolbar search inside -->
                        <div class="search-box">
                            <span class="form-control-search"></span>
                            <input type="text" class="search-property" placeholder="Tìm kiếm tài sản">
                        </div>
                    </div>
                    <!-- table manipulation functions -->
                    <div class="toolbar-more ">
                        <div class="m-icon-common more-excel" data-toggle="tooltip" data-placement="top" title="Export Excel File"></div>
                        <div class="more-printer" data-toggle="tooltip" data-placement="top" title="Print">
                            <div class="m-icon-common main-icon-printer"></div>
                            <div class="printer-arrow"></div>
                        </div>
                        <div class="more-load-action" data-toggle="tooltip" data-placement="top" title="More Option"></div>
                    </div>
                </div>
                <!-- content main-->
                <div class="info-content">
                    <!-- content grid show info-->
                    <div class="grid grid-property my-custom-scrollbar" id="gridProperty" Url="v1/Employees" ToolBar="toolBarEmployee" ItemId="EmployeeId">
                        <div class="hide-item">
                            <div class="col" FieldName="FullName">Họ tên</div>
                            <div class="col" FieldName="EmployeeCode">Mã nhân viên</div>
                            <div class="col" FieldName="DateOfBirth" DataType="Date">Ngày sinh</div>
                            <div class="col" FieldName="Gender" DataType="Enum" EnumName="Grender">Giới tính</div>
                            <div class="col" FieldName="Address">Địa chỉ</div>
                            <div class="col" FieldName="PhoneNumber">Số điện thoại</div>
                            <div class="col" FieldName="Email">Email</div>
                            <div class="col" FieldName="Salary" DataType="Number">Lương</div>
                            <div class="col" FieldName="DepartmentId">Phòng ban</div>
                        </div>
                    </div>
                    <!-- Modal -->                    
                    <div class="spinner-border text-primary"></div>
                    <div class="modal fade" id="modalAction" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body form-delete">
                                    Bạn có chắc muốn xóa bản ghi này?
                                </div>
                                <div class="modal-body" ShowForm="true">
                                    <div class="box-input">
                                        <div class="sub-box">
                                            <label for="">Họ tên <span style="color: red;">(*)</span></label><br>
                                            <input type="text" class="fullname-input" FieldName="FullName" Require="true" maxlength="200">
                                        </div>
                                        <div class="sub-box">
                                            <label for="">Mã nhân viên <span style="color: red;">(*)</span></label><br>
                                            <input type="text" FieldName="EmployeeCode" Require="true" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="box-input">
                                        <div class="sub-box">
                                            <label for="">Giới tính</label>
                                            <br>
                                            <select FieldName="Gender" DataType="Enum" EnumName="Gender" Require="true">
                                                <option value="0">Nữ</option>
                                                <option value="1">Nam</option>
                                                <option value="2">Khác</option>
                                            </select>
                                        </div>
                                        <div class="sub-box">
                                            <label for="">Ngày sinh</label>
                                            <br>
                                            <input type="date" FieldName="DateOfBirth" DataType="Date" Require="true">
                                        </div>
                                    </div>
                                    <div class="box-input">
                                        <div class="sub-box">
                                            <label for="">Số điện thoại</label>
                                            <br>
                                            <input type="text phone-input" FieldName="PhoneNumber" DataType="PhoneNumber" maxlength="100">
                                        </div>
                                        <div class="sub-box">
                                            <label for="">Email</label>
                                            <br>
                                            <input type="text email-input" FieldName="Email" DataType="Email" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="box-input">
                                        <div class="sub-box">
                                            <label for="">Mức lương <span style="color: red;">(*)</span></label>
                                            <br>
                                            <input type="text" class="salary-input" FieldName="Salary" DataType="Number" Require="true" maxlength="200">
                                        </div>
                                        <div class="sub-box">
                                            <label for="">Phòng ban</label>
                                            <br>
                                            <input type="text" FieldName="DepartmentName" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="box-input">
                                        <div class="sub-box">
                                            <label for="">Địa chỉ</label>
                                            <br>
                                            <input type="text" FieldName="Address" >
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default submit-form action-form" Command="Save">Submit</button>
                                    <button type="button" class="btn btn-default cancel-form action-form" Command="Cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content grid show paging option-->
                    <div class="grid-bar">
                        <div class="padding-table">Tổng số: 200 bản ghi</div>
                        <div class="display-limit">
                            <div class="limit-number">
                                <div class="custom-option">
                                    <select name="" class="custom-select">
                                        <option value="">20</option>
                                        <option value="">15</option>
                                        <option value="">10</option>
                                        <option value="">5</option>
                                    </select>
                                    <span class="customer-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="paging">
                            <div class="paging-box"><a href="#" class="custom-paging">&lt;</a></div>
                            <div class="paging-box"><a href="#" class="custom-paging">1</a></div>
                            <div class="paging-box"><a href="#" class="custom-paging">2</a></div>
                            <div class="paging-box"><a href="#" class="custom-paging">...</a></div>
                            <div class="paging-box"><a href="#" class="custom-paging">10</a></div>
                            <div class="paging-box"><a href="#" class="custom-paging">&gt;</a></div>
                            <span class="customer-arrow"></span>
                        </div>
                        <div class="total-info">
                            <!-- <div class="qty-total">13</div>
                            <div class="price-total">249.000.000</div>
                            <div class="cummulative-total">19.716.000</div>
                            <div class="main-total">229.284.000</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="icon-loader">
        <div class="loader"></div>
    </div>

    <!-- add jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- add js comomnt -->
    <script src="../js/common/common.js"></script>
    <script src="../helper/dataForm.js"></script>
    <script src="../js/common/fomatData.js"></script>
    <script src="../js/common/constant.js"></script>
    <script src="../js/common/resource.js"></script>
    <script src="../js/common/enumeration.js"></script>
    <script src="../js/base/baseGrid.js"></script>
    <script src="../js/base/baseForm.js"></script>
    <!-- add js for page property -->
    <script src="../js/page/propertyDetail.js"></script>
    <script src="../js/page/property.js"></script>

</body>

</html>